.carousel-arrow {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    transition: background 0.2s ease, opacity 0.2s ease;
}

.carousel-arrow:disabled {
    opacity: 0.t;
    cursor: not-allowed;
}

img {
  width: 100%;
  display: block;
}

