:root {
  --color-bg: #16171d;
  --color-text: #f0f0f0;
  --color-text-secondary: #a0a0a8;

  --color-accent: .....;
  --color-buy-button: #4ade80;
  --color-link: #66c0f4;
  /* --color-accent-border: #4ade80; */
  --color-border: rgba(255, 255, 255, 0.08);

  --color-accent-hover: #3bc46e;
  --color-hover: #202129;
  --color-bg-hover: #2a2b33;

  --color-arrow-bg: rgba(255, 255, 255, 0.1);
  --color-arrow-bg-hover: rgba(255, 255, 255, 0.2);
  --color-arrow-icon: rgba(255, 255, 255, 0.8);
  --color-arrow-bg-disabled: rgba(255, 255, 255, 0.05);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 72px;
  --spacing-4xl: 96px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
button {
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-bg-hover);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
}

button {
  cursor: pointer;
}



.container {
  max-width: 1280px;
  margin: 0 auto;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 24px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

/* 
  Backgournd color
#1b2838 - sea-blue, #16171d - neutral-gray, #121212 - basic-dark


  Buttons, Links

  #66c0f4 - blue, #a970ff - violet, #4ade80 - green
*/