.games-by-genre-section {
    display: flex;
    flex-direction: column;
}

.games-by-genre-section > h2 {
    display: block;
    text-align: center;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-small);
    margin: var(--spacing-3xl) 0;
}

@media (max-width: 640px) {

    .games-by-genre-section > h2 {
        font-size: var(--font-size-xl);
    }
}